*{
  margin: 0px;
  padding:  0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, #030b4e 0%, #794f9c 100%);
}
.logo{
  color: white;
}
.nav-liste{
  display:flex ;
  justify-content: space-around;
  width: 46%;
}
.nav-liste li{
  list-style: none;
}
.nav-liste a{
  color:white;
  text-decoration: none;
  font-weight: bold;
  
}

.linii{
  display: none;
  cursor: pointer;
}

.linii div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin:5px;
  transition: all 0.3s ease;
}
@media screen and (max-width:1024px){
  .nav-liste{
      width: 60%;
  }
}
@media screen and (max-width:768px){
  body{overflow-x: hidden;}
  .nav-liste{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 10vh;
      background: linear-gradient(to top, #030b4e 0%, #794f9c 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
  }
  .nav-liste li{
      opacity: 0;
  }
  .linii{display: block;}
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navlinksfade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform:translateX(0px);
  }
}
.toggle .linia1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .linia2{
  opacity: 0;
}
.toggle .linia3{
  transform: rotate(45deg) translate(-5px,-6px);
}